<section class="section section-gallery">
  <div class="container">
    <div class="row">
      <div class="col push-2 col-8 push-m-0 col-m-12">
        <div class="section-gallery__inner">
          <div class="section-gallery__content">
            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/1.jpeg"
                alt="Rest"
                loading="lazy"
              />
            </div>

            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/2.jpeg"
                alt="City"
                loading="lazy"
              />
            </div>

            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/3.jpg"
                alt="Hobby"
                loading="lazy"
              />
            </div>

            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/4.jpg"
                alt="Car"
                loading="lazy"
              />
            </div>

            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/5.jpeg"
                alt="Hobby"
                loading="lazy"
              />
            </div>

            <div class="section-gallery__image">
              <img
                src="/images/section-gallery/6.jpg"
                alt="Lifestyle"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
