.section-gallery__inner {
  .section-gallery__title {
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-family: "Yellowtail", cursive;
    font-size: 40px;
    line-height: 1.25;
    font-weight: normal;
    color: var(--primary-color);
  }

  .section-gallery__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;

    @media (max-width: $desktop) {
      gap: 6px;
    }

    @media (max-width: $tablet) {
      gap: 5px;
    }

    @media (max-width: $mobile) {
      gap: 4px;
    }

    .section-gallery__image {
      overflow: hidden;
      border-radius: 24px;
      background: var(--background-alt-color);
      user-select: none;

      @media (max-width: $desktop) {
        border-radius: 18px;
      }

      @media (max-width: $tablet) {
        border-radius: 14px;
      }

      @media (max-width: $mobile) {
        border-radius: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .section-gallery__image:nth-child(odd) {
      transform: rotate(-15deg);

      @media (max-width: $desktop) {
        transform: rotate(-12deg);
      }

      @media (max-width: $tablet) {
        transform: rotate(-10deg);
      }

      @media (max-width: $mobile) {
        transform: rotate(-8deg);
      }
    }

    .section-gallery__image:nth-child(even) {
      transform: rotate(15deg);

      @media (max-width: $desktop) {
        transform: rotate(12deg);
      }

      @media (max-width: $tablet) {
        transform: rotate(10deg);
      }

      @media (max-width: $mobile) {
        transform: rotate(8deg);
      }
    }
  }
}
