---
layout: default
---

<!-- begin page -->
<!-- Timeline Section -->
<section id="resume" class="timeline-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="page__head">
          <div class="page__info">
            <h1 class="page__title">{{page.headline}}</h1>
            <p class="page__subtitle">{{page.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for item in page.timeline %}
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="{{item.image}}"
                alt=""
              />
            </div>
            {% assign index = forloop.index %}
            <div class="timeline-panel float-left">
              <div class="timeline-heading">
                <h4>{{item.timeRange}}</h4>
                <h4>{{item.jobTitle}}</h4>
                <p class="subheading">{{item.jobLocation}}</p>
              </div>
            </div>
            <div class="timeline-panel float-right">
              <div class="timeline-body" id="accordion-{{index}}">
                <div class="card-body summary">
                  <span class="summary__title">{{item.summary}}</span>
                  <br />
                  {% if item.competences.size > 0 %}
                  <a
                    class="summary__link"
                    data-bs-toggle="collapse"
                    href="#collapse-{{index}}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapse-{{index}}"
                  ></a>
                  {% endif %}
                </div>
                <div
                  id="collapse-{{index}}"
                  class="collapse"
                  aria-labelledby="heading-{{index}}"
                >
                  <div class="card-body">
                    <ul>
                      {% for detail in item.competences %}
                      <li>{{detail}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end page -->
